In [196]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df_raw = pd.read_csv("db_dolly.txt", index_col=False, error_bad_lines=False)
df = df_raw[df_raw['doc']!="A Designar"]
df.head()
#materias = df.mat.unique()

,doc,mat,cuat,tstamp,asistencia,cumple_horarios,buen_trato,calse_organizada,claridad,fomenta_participacion,panorama_amplio,acepta_critica,responde_mails,comentarios
0,Garcia,6109,1Q2018,1533839977934,5,5,5,5,5,5,5,5,5,VW5hIGdlbmlhIHRvdGFsLCByZXNwb25kZSBhIHRvZG9zIG...
1,Travesaro,6109,1Q2018,1533839977936,5,5,5,5,5,5,5,5,5,NaN
2,Pastor,6109,1Q2018,1533839977937,5,5,5,5,4,5,5,5,5,NaN
3,Piva,6203,1Q2018,1533840118491,5,5,5,4,5,5,5,5,5,NaN
4,A Designar,6203,1Q2018,1533840118494,5,5,3,2,2,3,3,5,5,NaN

# Calificación del docente

A fin de poder ordenar los docentes, para que los "mejores" aparezcan primero, es necesario obtener una métrica.
Voy a utilizar una norma 2 pero con coeficientes de ponderación dados consignados en la siguiente tabla.

In [213]:
pesos = {
    'asistencia': 1,
    'cumple_horarios': 1,
    'calse_organizada': .7,
    'claridad': .7,
    'buen_trato': 0.5,
    'acepta_critica': 0.5,
    'fomenta_participacion': 0.5,
    'responde_mails': 0.5,
    'panorama_amplio': 0.5
}
features = list(pesos.keys())
w = np.array(list(pesos.values()))
wn = w/np.sum(w)
np.sqrt(np.square(df[features].values) @ wn)

array([5.        , 5.        , 4.89205513, ..., 4.61941371, 4.86251661,
       4.12721435])

# Tabla de comparación

Tomando la media de cada feature, analizando para docente y materia por separado

In [236]:
# Para un docente particular
docentes = list(df['doc'].unique()) # pss... lista de docentes
df[df['doc']=='Acero'][features].mean()

asistencia               5.00
cumple_horarios          4.90
calse_organizada         4.75
claridad                 4.85
buen_trato               3.85
acepta_critica           4.00
fomenta_participacion    3.05
responde_mails           3.10
panorama_amplio          4.70
dtype: float64

In [268]:
# Para una materia en particular
puntajes = df[df['mat']==6103].groupby('doc')[features].mean()
puntajes.head()

,asistencia,cumple_horarios,calse_organizada,claridad,buen_trato,acepta_critica,fomenta_participacion,responde_mails,panorama_amplio
doc,,,,,,,,,
Acero,5.00,4.90,4.900000,4.900000,3.800000,4.200000,3.400000,2.800000,4.800000
Bergamini,5.00,5.00,5.000000,5.000000,5.000000,5.000000,4.000000,2.000000,5.000000
Boggi,3.75,3.75,3.000000,3.500000,4.000000,3.250000,3.750000,2.000000,3.750000
Canepa,3.75,4.00,4.250000,4.000000,4.750000,4.250000,3.750000,2.750000,3.750000
Chorny,4.50,4.50,4.666667,4.333333,4.666667,4.666667,4.333333,4.166667,4.666667

## Índice múltiple
Tendría que repetir el procedimiento para cada materia, pero si uso un indice múltiple (de la forma (materia,docente))
me ahorro todo ese trabajo.

In [281]:
df.groupby(['mat','doc'])[features].mean()

                        asistencia  cumple_horarios  calse_organizada  \
mat  doc
6103 Acero                5.000000         4.900000          4.900000
     Bergamini            5.000000         5.000000          5.000000
     Boggi                3.750000         3.750000          3.000000
     Canepa               3.750000         4.000000          4.250000
     Chorny               4.500000         4.500000          4.666667
     Comas                4.500000         4.500000          3.750000
     Cristi               5.000000         5.000000          3.500000
     De Rossi             4.000000         4.666667          4.833333
     Endelli              5.000000         4.000000          2.000000
     Estrin               3.000000         4.000000          1.000000
     Fittipaldi           4.000000         4.000000          4.000000
     Garcia               4.500000         4.250000          4.000000
     Gigola               4.000000         5.000000          4.000000
     Juarez               4.000000         4.000000          2.000000
     Liberczuk            2.666667         2.666667          2.333333
     Lopez                4.888889         4.777778          4.888889
     Madariaga            5.000000         5.000000          3.500000
     Martins              5.000000         5.000000          5.000000
     Maulhardt            5.000000         4.916667          5.000000
     Muszkats             4.666667         4.666667          4.666667
     Oliva                4.000000         4.000000          3.000000
     Palacios             5.000000         4.571429          4.428571
     Palazón              5.000000         5.000000          3.000000
     Porta                5.000000         5.000000          4.000000
     Puebla               3.333333         3.666667          4.000000
     Ramirez Oyhanarte    5.000000         4.500000          4.000000
     Remesar              4.000000         4.000000          2.000000
     Rosito               2.500000         3.000000          3.500000
     Sarris               5.000000         5.000000          2.000000
     Sassano              4.000000         4.666667          3.666667
...                            ...              ...               ...
9501 Lanzillotta          5.000000         5.000000          5.000000
     Loyola Hidalgo       5.000000         5.000000          1.500000
     Mayor                4.000000         3.000000          4.000000
     Naon                 1.000000         1.000000          1.000000
     Perez Berro          5.000000         5.000000          5.000000
     Servetto             5.000000         5.000000          2.000000
     Strobino             5.000000         3.000000          2.000000
     Valverde             2.000000         4.000000          2.000000
9503 Mendez               4.000000         5.000000          3.000000
9511 Cardozo              4.250000         2.750000          3.750000
     Kuhn                 5.000000         4.500000          2.500000
     Moreno               5.000000         5.000000          5.000000
     Roasio               5.000000         5.000000          4.666667
     Sanz                 5.000000         5.000000          3.500000
9513 Balzarotti           4.000000         5.000000          4.000000
     Cavaliere            5.000000         5.000000          5.000000
     Ezcurra              4.000000         5.000000          4.000000
     Kowal                4.000000         5.000000          4.000000
9514 Bianchi              3.000000         4.000000          4.000000
     Essaya               5.000000         3.000000          5.000000
     Gonzalez Busquin     4.000000         5.000000          5.000000
     Guarna               1.000000         4.000000          3.000000
     Juarez               5.000000         5.000000          4.000000
     Lovaglio             5.000000         5.000000          5.000000
     Mendez               5.000000         5.000000          5.000000
9515 Barrios              5.000000         5.000000          5.000000
     Wachenchauzer        5.000000         5.000000          5.000000
9558 Argerich             5.000000         5.000000          4.000000
     Martinelli           5.000000         5.000000          4.000000
9804 Bertagnoli           4.000000         4.000000          3.000000

                        claridad  buen_trato  acepta_critica  \
mat  doc
6103 Acero              4.900000    3.800000        4.200000
     Bergamini          5.000000    5.000000        5.000000
     Boggi              3.500000    4.000000        3.250000
     Canepa             4.000000    4.750000        4.250000
     Chorny             4.333333    4.666667        4.666667
     Comas              3.500000    4.250000        4.250000
     Cristi             3.750000    5.000000        4.000000
     De Rossi           4.833333    4.666667        4.166667
     Endelli            3.000000    5.000000        4.000000
     Estrin             1.000000    3.000000        4.000000
     Fittipaldi         4.000000    4.000000        4.000000
     Garcia             4.000000    4.250000        4.250000
     Gigola             2.000000    5.000000        3.000000
     Juarez             4.000000    5.000000        5.000000
     Liberczuk          2.666667    3.666667        3.000000
     Lopez              4.777778    4.555556        4.000000
     Madariaga          3.500000    5.000000        4.500000
     Martins            5.000000    4.000000        4.000000
     Maulhardt          4.833333    4.750000        4.250000
     Muszkats           5.000000    4.666667        4.666667
     Oliva              4.000000    4.000000        3.500000
     Palacios           4.571429    4.571429        3.857143
     Palazón            3.000000    5.000000        5.000000
     Porta              4.000000    4.750000        4.750000
     Puebla             3.666667    4.666667        4.666667
     Ramirez Oyhanarte  4.000000    3.500000        5.000000
     Remesar            2.000000    5.000000        5.000000
     Rosito             3.500000    4.000000        3.500000
     Sarris             3.000000    3.500000        3.500000
     Sassano            4.333333    3.666667        2.666667
...                          ...         ...             ...
9501 Lanzillotta        5.000000    5.000000        5.000000
     Loyola Hidalgo     1.500000    3.500000        3.000000
     Mayor              3.000000    3.000000        3.000000
     Naon               1.000000    1.000000        1.000000
     Perez Berro        4.500000    5.000000        4.500000
     Servetto           1.000000    5.000000        5.000000
     Strobino           2.000000    4.000000        3.000000
     Valverde           1.000000    4.000000        2.000000
9503 Mendez             4.000000    5.000000        5.000000
9511 Cardozo            4.250000    3.250000        3.000000
     Kuhn               2.500000    4.000000        3.000000
     Moreno             4.000000    5.000000        5.000000
     Roasio             4.666667    5.000000        4.666667
     Sanz               4.500000    5.000000        4.500000
9513 Balzarotti         4.000000    5.000000        4.000000
     Cavaliere          3.000000    5.000000        3.000000
     Ezcurra            4.000000    5.000000        4.000000
     Kowal              4.000000    5.000000        4.000000
9514 Bianchi            3.000000    2.000000        2.000000
     Essaya             5.000000    5.000000        5.000000
     Gonzalez Busquin   5.000000    5.000000        5.000000
     Guarna             4.000000    4.000000        4.000000
     Juarez             4.000000    5.000000        4.000000
     Lovaglio           5.000000    5.000000        5.000000
     Mendez             5.000000    5.000000        5.000000
9515 Barrios            4.000000    5.000000        4.500000
     Wachenchauzer      3.000000    5.000000        5.000000
9558 Argerich           3.000000    4.000000        2.000000
     Martinelli         4.000000    4.000000        3.000000
9804 Bertagnoli         4.000000    4.000000        3.000000

                        fomenta_participacion  responde_mails  panorama_amplio
mat  doc
6103 Acero                           3.400000        2.800000         4.800000
     Bergamini                       4.000000        2.000000         5.000000
     Boggi                           3.750000        2.000000         3.750000
     Canepa                          3.750000        2.750000         3.750000
     Chorny                          4.333333        4.166667         4.666667
     Comas                           3.750000        3.000000         3.750000
     Cristi                          4.750000        3.500000         3.500000
     De Rossi                        3.333333        2.333333         3.833333
     Endelli                         3.000000        3.000000         3.000000
     Estrin                          2.000000        1.000000         1.000000
     Fittipaldi                      4.000000        4.000000         4.000000
     Garcia                          3.750000        3.000000         3.750000
     Gigola                          1.000000        1.000000         1.000000
     Juarez                          5.000000        5.000000         3.000000
     Liberczuk                       3.000000        2.333333         3.000000
     Lopez                           4.222222        3.000000         4.333333
     Madariaga                       3.000000        1.000000         3.500000
     Martins                         3.000000        4.000000         4.000000
     Maulhardt                       4.416667        4.000000         4.833333
     Muszkats                        4.666667        4.666667         4.666667
     Oliva                           3.500000        4.000000         3.500000
     Palacios                        3.428571        3.142857         3.857143
     Palazón                         4.000000        5.000000         3.000000
     Porta                           4.250000        2.500000         4.500000
     Puebla                          4.333333        3.333333         4.666667
     Ramirez Oyhanarte               4.500000        3.500000         4.000000
     Remesar                         3.000000        1.000000         5.000000
     Rosito                          3.500000        3.000000         3.500000
     Sarris                          3.000000        1.000000         3.000000
     Sassano                         3.000000        3.333333         4.000000
...                                       ...             ...              ...
9501 Lanzillotta                     5.000000        4.666667         5.000000
     Loyola Hidalgo                  2.500000        5.000000         3.000000
     Mayor                           3.000000        3.000000         3.000000
     Naon                            1.000000        1.000000         1.000000
     Perez Berro                     4.500000        4.500000         4.500000
     Servetto                        1.000000        1.000000         1.000000
     Strobino                        3.000000        3.000000         3.000000
     Valverde                        1.000000        3.000000         1.000000
9503 Mendez                          5.000000        5.000000         5.000000
9511 Cardozo                         3.500000        5.000000         4.750000
     Kuhn                            3.000000        2.500000         3.000000
     Moreno                          4.000000        5.000000         5.000000
     Roasio                          4.666667        3.000000         3.666667
     Sanz                            2.500000        3.000000         2.500000
9513 Balzarotti                      3.000000        3.000000         4.000000
     Cavaliere                       2.000000        2.000000         3.000000
     Ezcurra                         3.000000        3.000000         4.000000
     Kowal                           3.000000        3.000000         4.000000
9514 Bianchi                         2.000000        2.000000         3.000000
     Essaya                          4.000000        5.000000         5.000000
     Gonzalez Busquin                4.000000        3.000000         5.000000
     Guarna                          4.000000        4.000000         4.000000
     Juarez                          5.000000        4.000000         3.000000
     Lovaglio                        5.000000        5.000000         5.000000
     Mendez                          4.000000        5.000000         4.000000
9515 Barrios                         5.000000        5.000000         4.500000
     Wachenchauzer                   5.000000        5.000000         5.000000
9558 Argerich                        4.000000        5.000000         5.000000
     Martinelli                      4.000000        5.000000         4.000000
9804 Bertagnoli                      5.000000        5.000000         3.000000

[724 rows x 9 columns]